@import "../../global.scss";

.portfolioList {
  font-size: 14px;
  // margin-right: 50px;
  margin-right: 42px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;


  @media only screen and (max-width: 768px){
    margin-right: 20px;
}

//   @include mobile{
//     margin-right: 20px;
//   }

  &.active {
    background-color: $mainColor;
    color: white;
  }
}
